@import "tailwindcss";

body {
     @apply bg-gray-300 text-gray-800;
       font-family: "Roboto", sans-serif;
       font-weight: 300;
}
.hide-scrollbar::-webkit-scrollbar {
     display: none;
}
.hide-scrollbar {
     -ms-overflow-style: none;
     scrollbar-width: none;
}